<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>LabelMaster Forecast</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
  
</head>

<body style="background: #fff;">
 <div class="login">
  <h1>Sales Forecasting</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict Sales for Books</button>
    </form>

    <form action="{{ url_for('plot')}}"method="post">
      <button type="submit" class="btn btn-primary btn-block btn-large">Show Plot</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}
   <!-- <img src={{ url}} alt="Chart" height="42" width="42">  -->

 </div>
</body>
</html>