body {
  color: #222;
  background: #fff;
  font: 100% system-ui;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }

  body a {
    color: #809fff;
  }
}





.table{
	border-spacing: 0;
	margin : 0 auto;
	background-color: #202020;
}

.table__row:nth-child(even) {
	background-color: #383838;
}

.table__header {
	text-align: left;
}

.table__cell{
	padding: 8px
}


.button{
  background-color: #008080; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  display: inline;


}
.button:hover{
  background-color: #00CED1;
    color: white;
    box-shadow: 0 10px 6px rgba(255,255,255, 0.3);
	
}

}